<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/process/form", method="POST">
        <p>name:</p>
        <input type="text", name="dog_name">
        <p>Breed</p>
        <input type="text", name="dog_breed">
        <!-- submit button -->
        <button>Submit</button>
    </form>
</body>
</html>