<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New</title>
</head>
<body>
    <h2>Add New Recipe</h2>
    <span href="">HOME</span>|
    <span href="">Logout</span>
    <form>
        <div class="div">
            <!-- name -->
            <label for="name">Name:</label>
            <input type="text" name="name"><br>
            <!-- description -->
            <label for="description">Description:</label>
            <input type="text" name="description"><br>
            <!-- instructions -->
            <label for="instructions">Instructions:</label>
            <input type="text" name="instructions"><br>
        </div>
        <div class="div">
            <p>Date cooked/Made</p>
            <!-- date -->
            <label for="date_cooked">Date Cooked</label>
            <input type="date" name="date_cooked"><br>
            <!-- under 30 mins -->
            <label for="under">Under 30 minutes?</label><br>
            <label for="yes">Yes</label>
            <input type="checkbox" name="yes" id="" value="yes">
            <label for="no">No</label>
            <input type="checkbox" name="no" id="" value="no">
        </div>
        <button class="button">Submit</button>
    </form>
</html>