<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        .wrap{
            display: flex;
        }
        .counter{
            justify-content: center;
            padding: 15px;
            width: 300px;
            height: 300px vh;
            background-color: peachpuff;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="wrap">
        <div class="counter">
            <h1>Counter</h1>
            <h3>visits {{session['count']}} </h3>
            <form action="/x2" method="POST">
            <button  name="add_2_visits">
                add 2 visits!</button>
            </form>
            <form action="/reset" method="POST">
            <button name="reset_button"> Reset</button>
            </form>
            <!-- <a href="/index.html"></a> -->
        </div>
    </div>
</body>
</html>