<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ninjas info by city and id</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style.css') }}">
</head>

<body>
    <div class="div">
        <h2>{{ dojo_and_ninjas.dojo_name }}</h2>
        <div class="innerDiv">
            <table>
                <tr>
                    <th>name</th>
                    <th>last name</th>
                    <th>age</th>
                </tr>
                {%for one_ninja in dojo_and_ninjas.my_ninjas %}
                    <tr>
                        <td>{{one_ninja.first_name}}</td>
                        <td>{{one_ninja.last_name}}</td>
                        <td>{{one_ninja.age}}</td>
                    </tr>
                {%endfor%}
            </table>
        </div>
    </div>
    <a href="/">HOME</a>
    
</body>
</html>